HEROSMS_API_KEY=tu_key_herosms
TELEGRAM_BOT_TOKEN=tu_token_botfather
PROVIDER=herosms
COUNTRY_ID=56
COUNTRY=spain
SERVICE_CODE=wa
PRODUCT=whatsapp
MAX_PRICE=3
SMS_POLL_SECONDS=5
SMS_TIMEOUT_SECONDS=1200
PROGRESS_EVERY_SECONDS=30
